.header {
    margin-left: 35%;
    width: 20vw;
    height: auto;
    opacity: 95%;
}

.logo {
    margin-top: 10px;
    margin-left: 30%;
    width: 200px;
    height: auto;
}

.title {
    font-family: 'open sans', sans-serif;
    margin-left: 50%;    
    font-size: 25px;
    font-weight: bold;
}